.settings-modal {
  background-color: white;
  border-radius: 8px;
  left: 50%;
  margin: 0 auto;
  padding: 2rem;
  position: fixed;
  top: 2rem;
  transform: translate(-50%, 0);
  z-index: 2;

  .instructions {
    text-align: left;
  }

  table {
    padding-top: 1rem;
    width: 100%;

    tbody {
      tr {
        height: 30px;

        td {
          input {
            font-size: 16px;
            width: 55px;
          }

          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }

  hr {
    margin: 2rem;
  }

  .options-list {
    display: flex;
    justify-content: center;

    li {
      display: inline-flex;
      padding: 0 1rem;

      .options-button {
        background-color: #999;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        padding: 0.5rem;

        &__selected {
          background-color: transparent;
          color: black;
          text-decoration: underline;
        }
      }
    }
  }
}
