.prompt-modal {
  background-color: white;
  border-radius: 8px;
  left: 50%;
  margin: 0 auto;
  padding: 2rem;
  position: fixed;
  top: 2rem;
  transform: translate(-50%, 0);
  z-index: 2;
}

.social-share {
  margin-top: 1.5rem;
}